<link rel="stylesheet" href="css/style.css">


<header class="navbar">
<center>
<a href="http://www.minedminds.org"><img class=mind src="/pictures/minedminds.png"/></a>
<a href="http://www.google.com"><img class=mind src="/pictures/google.jpg"/></a>
</header>
<center>
<body>
<center>
<br>
<form action="/results">
  Lets break down some numbers!<br>
  <input class=textbox type="number" name="coins" maxlength="30" required>
  <br>
  <br>
  <button class="button">Submit</button>
</form>
<br>
<br>
<br>
<br>
<br>
</body>
<footer>
<a href="https://github.com/Ekczile">Github<br></a>
</footer>
</center>