<link rel="stylesheet" href="css/style.css">
<center>
<div class="result">
<body>
<%result.flatten.each do |v|%>
<br>
<%=v%>

<%end%>
</body>
</div>
<br>
<input class="button" type="button" value="Reset" onclick="location.href='/';" />
</center>
